---
---


@import "{{ site.theme }}";

.wrapper {
  width:1920px;
  margin:0 auto;
}

section {
  width:1440px;
  float:right;
  padding-bottom:50px;
}

.main-content {
  max-width: 96rem;
  padding: 2rem 6rem;
  margin: 0 auto;
  font-size: 1.1rem;
}
